
.grid-4 {
    margin:auto;
	display: flex;
    align-items: stretch;
	flex-direction: row;
	flex-wrap: wrap;
    
	/* Inline-block fallback */
    letter-spacing: -0.31em;
    text-rendering: optimizespeed;

}
.grid-4 > * {
	display: flex;
    justify-content:center;

    align-items: stretch;
	width: calc(25% - 30px); 
	margin-left: 30px;
	display: block;  /* IE fix 
	
	Inline-block fallback */
    display: inline-block;
    /*vertical-align: top;*/
    letter-spacing: normal;
    text-rendering: auto;

}

/*@media (max-width: 1200px) {
    .grid-4 > * {
        width: calc(30% - 30px); 
        
    }
}

@media (max-width: 930px) {
    .grid-4 > * {
        width: calc(50% - 30px); 
    }
}

@media (max-width: 650px) {
    .grid-4 > * {
        width: calc(100% - 30px); 
    }
}*/