@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url(../../color.css);

#container {
    margin-bottom: 1em;
    margin-top: 0.5em;
    width: 100%;
    display: flex;
    justify-content: center;
}

#content {
    border: solid 0.5px var(--light-second);
    width: 80%;
    display: flex;
}

#image {
    width: 40%;
    background-color: var(--light-first);
}

#form-content {
    width: 60%;
    background-color: white;
}

h1 {
    text-align: center;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    color: var(--light-accentuation);
    font-size: 1.2em;
}

form {
    padding: 1%;
    text-align: center;
}

.label {
    color: var(--light-first);
    padding-right: 2%;
    font-weight: 600;
    font-size: 0.8em;
}

.info-unit {
    padding-bottom: 5%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.button {
    background-color: var(--light-accentuation);
    color:#fff;
    border: none;
    padding: 0.5%;
    font-size: 1em;
    font-weight: 550;
    width: 20%;
    margin-bottom: 0.5%;
}

.class-input {
    border: none;
    font-size: 0.8em;
    min-height: 30px;
    width: 100%;
}

.input-container {
    padding-left: 5%;
    padding-right: 5%;
}

.input-name, .select-category {
    border-bottom: 2px solid;
    border-bottom-color: var(--light-second);
}

.input-description {
    min-height: 200px;
}

.unit-description {
    flex-direction: column;
}

.error {
    background-color: var(--bg-error);
    margin-left: 30%;
    margin-right: 30%;
}

.ck-editor__editable {
    width: 600px;
    height: 150px;
}

@media screen and (max-width: 1400px) {
    .ck-editor__editable {
        width: 550px;
    }
}

@media screen and (max-width: 1300px) {
    .ck-editor__editable {
        width: 500px;
    }
}

/*Responsive tablette*/
@media screen and (max-width: 1200px) {

    #image {
        width: 25%;
    }

    #form-content {
        width: 75%;
    }

    #content {
        width: 90%;
    }

    .ck-editor__editable {
        width: 650px;
    }

    .input-container {
        padding-left: 0;
        padding-right: 0;
    }

    .unit-category {
        margin-left: 0;
    }
    
    .class-input {
        width: 100%;
    }

    .label {
        padding-right: 3%;
        
    }

    .input-name, .select-category {
        min-height: 30px;
    }

    .info-unit {
        padding-left: 5%;
        padding-right: 5%;
    }

    .button {
        width: 30%;
        margin-top: 3%;
        padding: 1%;
        font-size: 1em;
        font-weight: 550;
    }

    .input-description {
        min-height: 250px;
    }

}

@media screen and (max-width: 1100px) {
    .ck-editor__editable {
        width: 600px;
    }
}

@media screen and (max-width: 1000px) {
    .ck-editor__editable {
        width: 550px;
    }
}

@media screen and (max-width: 920px) {
    .ck-editor__editable {
        width: 500px;
    }
}

@media screen and (max-width: 840px) {
    .ck-editor__editable {
        width: 450px;
    }
}

@media screen and (max-width: 760px) {
    .ck-editor__editable {
        width: 410px;
    }
}

@media screen and (max-width: 700px) {
    .ck-editor__editable {
        width: 370px;
    }
}

@media screen and (max-width: 640px) {
    .ck-editor__editable {
        width: 340px;
    }
}

/*Responsive mobile*/
@media screen and (max-width: 600px) {

    #image {
        width: 0%;
    }

    #form-content {
        width: 100%;
        background-color: var(--light-bg);
    }

    #content {
        width: 100%;
        border: none;
    }

    .ck-editor__editable {
        width: 490px;
    }

    h1 {
        font-size: 1.5em
    }

    .label {
        font-size: 1em;
    }

    .input-name, .select-category {
        min-height: 30px;
        background-color: var(--light-bg);
    }

    .button {
        width: 90%;
        margin-top: 5%;
        padding: 3%;
    }

    .info-unit {
        padding-left: 5%;
        padding-right: 5%;
        flex-direction: column;
    }

    .input-description {
        min-height: 200px;
    }

    .error {
        margin-left: 15%;
        margin-right: 15%;
    }
    
}

@media screen and (max-width: 570px) {
    .ck-editor__editable {
        width: 460px;
    }
}

@media screen and (max-width: 540px) {
    .ck-editor__editable {
        width: 430px;
    }
}

@media screen and (max-width: 510px) {
    .ck-editor__editable {
        width: 390px;
    }
}

@media screen and (max-width: 480px) {
    .ck-editor__editable {
        width: 370px;
    }
}

@media screen and (max-width: 460px) {
    .ck-editor__editable {
        width: 350px;
    }
}

@media screen and (max-width: 400px) {
    .ck-editor__editable {
        width: 330px;
    }
}

@media screen and (max-width: 350px) {
    .ck-editor__editable {
        width: 300px;
    }
}

@media screen and (max-width: 330px) {
    .ck-editor__editable {
        width: 280px;
    }
}