@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url(../../color.css);

#container {
    margin-bottom: 1em;
    margin-top: 0.5em;
    width: 100%;
}

h1 {
    text-align: center;
    margin-bottom: 0.5em;
    color: var(--light-accentuation);
    font-size: 1.2em;
}

form {
    padding: 1%;
    text-align: center;
}

.label {
    color: var(--light-first);
    padding-right: 2%;
    font-weight: 600;
    font-size: 0.8em;
}

.info-unit {
    padding-bottom: 5%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.button {
    background-color: var(--light-accentuation);
    color:#fff;
    border: none;
    padding: 0.5%;
    font-size: 1em;
    font-weight: 550;
    width: 20%;
}

.class-input {
    border: none;
    font-size: 0.8em;
    min-height: 30px;
    width: 100%;
}

.input-container {
    padding-left: 15%;
    padding-right: 15%;
}

.input-name, .select-category {
    background-color: var(--light-bg);
    border-bottom: 2px solid;
    border-bottom-color: var(--light-second);
}

.name-and-category {
    display: flex;
    justify-content: space-around;
}

.unit-name {
    flex: 1.1;
}

.unit-category {
    flex: 0.9;
    margin-left: 5%;
}

.input-description {
    min-height: 200px;
}

/*Responsive mobile*/
@media screen and (max-width: 450px) {

    h1 {
        font-size: 1.5em
    }

    .label {
        font-size: 1em;
    }

    .input-name, .select-category {
        min-height: 30px;
    }

    .button {
        width: 90%;
        margin-top: 5%;
        padding: 3%;
    }

    .info-unit {
        flex-direction: column;
    }

    .input-description {
        min-height: 200px;
    }
    
}

/*Responsive tablette*/
@media screen and (max-width: 1200px) {

    .name-and-category {
        flex-direction: column;
    }

    .input-container {
        padding-left: 0;
        padding-right: 0;
    }

    .unit-category {
        margin-left: 0;
    }
    
    .class-input {
        width: 100%;
    }

    .label {
        padding-right: 3%;
        
    }

    .input-name, .select-category {
        min-height: 30px;
    }

    .unit-description {
        flex-direction: column;
    }

    .info-unit {
        padding-left: 15%;
        padding-right: 15%;
    }

    .button {
        width: 30%;
        margin-top: 3%;
        padding: 1%;
        font-size: 1em;
        font-weight: 550;
    }

    .input-description {
        min-height: 250px;
    }

}