@import url(color.css);
.App {
  text-align: center;}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.App-header {
    background-color: var(--main-bg);
    min-height: calc(100vh - 50px - 100px);
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@media screen and (max-width: 581px) {
    .App-header {
        min-height: calc(100vh - 50px - 370px);
    }
}